/* Text */
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
}

h1,
h2 {
    font-weight: normal;
    margin: 0;
}

h1 {
    display: inline;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p,
li {
    line-height: 150%;
    text-align: justify;
}

li::marker {
    font-size: 0.8em;
}

em {
    font-weight: 600;
}

/* Navbar */
header {
    margin-bottom: 2em;
    border-bottom: 1px solid #cccccc;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
    margin: 0 auto;
    min-height: 4em;
    height: fit-content;
    max-width: 75rem;
}

/* Links */
nav a {
    text-decoration: none;
    margin: 0 0.5em;

    &:active {
        color: #aaaaaa;
    }
}

p a {
    text-decoration: none;
    color: lightseagreen;

    &:active {
        color: #47e5e0;
    }

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.4em;
    }
}

/* Misc */
html {
    background-color: #f2f2f2;
}

body {
    margin: 0;
}

section {
    margin: 0 auto 2rem;
}

hr {
    width: 20%;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 40px auto;
}

/* Mobile view */
@media (max-width: 850px), screen and (orientation: portrait) {
    header > div {
        flex-direction: column;
    }

    header h1 {
        margin-bottom: 1rem;
    }
}
