/* Text */
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
}

h1,
h2 {
    font-weight: normal;
    margin: 0;
}

h1 {
    display: inline;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p,
li {
    line-height: 150%;
    text-align: justify;
}

em {
    font-weight: 600;
}

.text-centered {
    text-align: center;
}

/* Navigation bar */
header {
    margin-bottom: 2em;
    border-bottom: 1px solid #cccccc;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
    margin: 0 auto;
    min-height: 4em;
    height: fit-content;
    max-width: 75em;
}

/* Sections */
html {
    background-color: #f2f2f2;
}

body {
    margin: 0;
}

section {
    margin: 0 25% 4em;
}

article {
    max-width: 75em;
    margin: 0 auto;
}

.wide {
    margin-left: 10%;
    margin-right: 10%;
}

.fixed-width {
    width: fit-content;
    margin: 0 auto;
}

/* Links */
nav a {
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

nav a:active {
    color: #aaaaaa;
}

article a {
    text-decoration: none;
    color: lightseagreen;
}

article a:active {
    color: #47e5e0;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
}

/* Photo gallery */
.photo-section {
    display: flex;
    margin-bottom: 4em;
    justify-content: space-between;
}

.photo-section > * {
    display: inline;
    width: 49%;
    margin: 0 auto;
}

.photo-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-info {
    margin: auto 0;
}

.img-left .img-info {
    float: right;
}

.img-right .img-info {
    float: left;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
}

.gallery-images img {
    width: 24%;
    margin: 2em 0.5%;
}

hr {
    width: 20%;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 40px auto;
}

li::marker {
    font-size: 0.8em;
}

/* Mobile view */
@media (max-width: 850px), screen and (orientation: portrait) {
    header > div {
        flex-direction: column;
    }
    header h1 {
        margin-bottom: 1rem;
    }
    section {
        margin: 2em 10%;
    }
}

/* Hide scrollbar */

/* Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* IE, Edge and Firefox */
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
