/* Text */
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
}

h1,
h2 {
    font-weight: normal;
    margin: 0;
}

h1 {
    display: inline;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p,
li {
    line-height: 150%;
    text-align: justify;
}

em {
    font-weight: 600;
}

.text-centered {
    text-align: center;
}

/* Navigation bar */
header {
    margin-bottom: 2em;
    border-bottom: 1px solid #cccccc;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
    margin: 0 auto;
    min-height: 4em;
    height: fit-content;
    max-width: 75em;
}

/* Sections */
html {
    background-color: #f2f2f2;
}

body {
    margin: 0;
}

section {
    width: 100%;
    margin-bottom: 4rem;
}

article.small {
    max-width: 30rem;
    width: 80%;
    margin: 0 auto;
}

article.large {
    max-width: 60rem;
    width: 80%;
    margin: 0 auto;
}

.fixed-width {
    width: fit-content;
    margin: 0 auto;
}

/* Links */
nav a {
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

nav a:active {
    color: #aaaaaa;
}

article a {
    text-decoration: none;
    color: lightseagreen;
}

article a:active {
    color: #47e5e0;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
}

/* Photo gallery */
.headline img,
.headline a {
    width: 100%;
    margin: 0;
}

.carousel {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.carousel a {
    width: calc(calc(100% / 3) - calc(20px / 3));

    & > img {
        width: 100%;
    }
}

.gallery-images {
    display: flex;
    justify-content: space-between;
}

.gallery-images img {
    width: 24%;
    margin: 2em 0.5%;
}

hr {
    width: 20%;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 40px auto;
}

li::marker {
    font-size: 0.8em;
}

/* Mobile view */
@media (max-width: 850px), screen and (orientation: portrait) {
    header > div {
        flex-direction: column;
    }

    header h1 {
        margin-bottom: 1rem;
    }

    section {
        margin: 2rem auto;
    }
}
